<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="stockDatabaseEntities" connectionString="metadata=res://*/DBEntities.csdl|res://*/DBEntities.ssdl|res://*/DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=stockDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="StockEntities" connectionString="metadata=res://*/DatabaseEntity.DbEntities.csdl|res://*/DatabaseEntity.DbEntities.ssdl|res://*/DatabaseEntity.DbEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV13;initial catalog=stockDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>